<!DOCTYPE html>
<html>
    <head>
        {% include '/includes/head.html.twig' %}
    </head>
    <body>
        {% include '/includes/navbar.html.twig' %}
        <div class="container">
            <div class="jumbotron">
                <h1 class="center">Blue's Barbershop</h1>
            </div>
            <h2>Stylist: {{ stylist.getName }}</h2>
            <hr>
            <a href="/stylist/{{ stylist.getId }}/edit">Edit Stylist Name</a><br>
            <a href="/stylist/{{ stylist.getId }}/delete">Delete Stylist</a>
            <hr>
            <h4>Here are {{ stylist.getName }}'s clients:</h4>
            {% if clients is not empty%}
                <ul>
                {% for client in clients %}
                    <li>
                        {{ client.getName }}
                        <a href="/client/{{ client.getId }}/edit">Edit</a>
                        <a href="/client/{{ client.getId }}/delete">Delete</a>
                    </li>
                {% endfor %}
                </ul>
            {% else%}
              <p>{{ stylist.getName}} does not have any clients.</p>
            {% endif %}
            <hr>
            <h2>Add a Client's Name:</h2>
            <form action='/stylist/{{ stylist.getId }}/addClient' method='post'>
                <div class="form-group">
                    <label for='client-name'>Client Name</label>
                    <input name='client-name' type='text' class='form-control'>
                </div>
                <button type='submit' class='btn btn-success'>Submit</button>
            </form>
        </div>
    </body>
</html>
